{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="row py-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    HISTORIQUE
                </div>
                <div class="card-body">
                    <ul class="timeline">
                        <li>
                            <a href="#"
                               class="float-right">14 septembre 1905</a>
                            <div class="media">
                                <img class="mr-3"
                                     src="{{ asset('images/portrait_paul-penaud.jpg') }}"
                                     height="200px"
                                     alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">Naissance de Paul PENAUD</h5>
                                    Il est né à Paris dans le 5ème arrodisssement, de sa mère Marie et du père inconnu.
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"
                               class="float-right">14 septembre 1905</a>
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">Scolarisation de Paul PENAUD</h5>
                                    Il fut scolarisé à l'Institut Gustave BAGUER d'Asnières.
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"
                               class="float-right">14 septembre 1905</a>
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">Premier club, CSSM PARIS en tant que joueur</h5>
                                    Il fut scolarisé à l'Institut Gustave BAGUER d'Asnières.
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"
                               class="float-right">14 septembre 1905</a>
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">Création du club : Club Sportif Silencieux Rémois</h5>
                                    Il fut scolarisé à l'Institut Gustave BAGUER d'Asnières.
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"
                               class="float-right">14 septembre 1905</a>
                            <div class="media">
                                <img class="mr-3"
                                     src="{{ asset('images/equipe.jpg') }}"
                                     height="200px"
                                     alt="Generic placeholder image">
                                <div class="media-body">
                                    <h5 class="mt-0">Création du club : Club Sportif Silencieux Rémois</h5>
                                    Il fut scolarisé à l'Institut Gustave BAGUER d'Asnières.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}