{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="row py-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    PALMARÈS FOOTBALL
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trophée des champions : 3 </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Championnat de France : 5</h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Coupe de France : 4 </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Parcours</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Année</th>
                            <th>Coupe de France</th>
                            <th>Championnat de France</th>
                            <th>Championnat de France Zone</th>
                            <th>Trophée des champions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2019-2020</td>
                            <td>Demi-finaliste</td>
                            <td>Demi-finaliste</td>
                            <td>Deuxème</td>
                            <td>Vainqueur</td>
                        </tr>
                        <tr>
                            <td>2018-2019</td>
                            <td>Demi-finaliste</td>
                            <td>Demi-finaliste</td>
                            <td>Deuxème</td>
                            <td>Vainqueur</td>
                        </tr>
                        <tr>
                            <td>2018-2019</td>
                            <td>Demi-finaliste</td>
                            <td>Demi-finaliste</td>
                            <td>Deuxème</td>
                            <td>Vainqueur</td>
                        </tr>
                        <tr>
                            <td>2018-2019</td>
                            <td>Demi-finaliste</td>
                            <td>Demi-finaliste</td>
                            <td>Deuxème</td>
                            <td>Vainqueur</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    PALMARÈS BOWLING
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trophée des champions : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Championnat de France : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Championnat de France : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    PALMARÈS BADMINTON
                </div>
                <div class="card-body">
                    <h5 class="card-title">Trophée des champions : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Championnat de France : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                    <h5 class="card-title">Championnat de France : </h5>
                    <p class="text">
                        2013, 2015, 2017
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}